h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  font-family: "Lucida Console", Monaco, monospace;
}

#instructions {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.2em;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}

#base {
  width: 800px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.8em;
}

#input {
  text-align: center;
  margin-top: 0.5em;
}

.tinput {
  width: 50px;
}

#height {
  margin-left: 50px;
}

input[type='button'] {
  background-color: grey;
  border: none;
  height: 30px;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-weight: bold;
}

#draw {
  margin-left: 50px;
}

#reset {
  margin-left: 25px;
}
.row {
  display: inline-block;
}

.pixel {
  border: 1px solid black;
}

.mpixel {
  background-color: black;
}
